*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 400;
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--very-dark-blue-main);
  display: flex;
  justify-content: center;
  align-items: center;
}
